page-boke-mood {
  .scroll-content{
    background: #f8f8f8;
  }
}


.mood-item{
  padding:10px;
  border:1px solid #ccc;
  margin: 20px;
  background: white;
  border-radius: 4px;
  ion-icon{font-size: 2.2em;}
  p{
    color: #999;
    font-style: italic;
  }
  h6{margin:0;font-size:12px;}
}

.divider{
  margin-top:80px;
}
